// base color
$blue:#324157;
$light-blue:rgb(255, 255, 255);
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:rgb(255, 255, 255);
$menuActiveText:rgb(255, 255, 255);
$subMenuActiveText:rgb(255, 255, 255); // https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$menuHover:#55b55e;

$subMenuBg:#1f2d3d;
$subMenuHover:#55b55e;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
